<div class="wi_outer">
    <div class="#container @width:default">
        <h2 class="#hero-heading fs-d4 heading-font main_heading">
            <span class="#accent-text" style="--accent: linear-gradient(90deg, transparent 0, rgba(217, 214, 254, 0.5) 15%, rgba(217, 214, 254, 0.5) 85%, transparent 100%)">{{section.settings.headline}}</span>
        </h2>

        <div class="wi_grid">
            {%  for block in section.blocks %}
                <div>
                    <img loading="eager" src="{{ block.settings.image | img_url: 'master' }}">
                    <h3>{{ block.settings.title }}</h3>
                    <p>{{ block.settings.text }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Whats inside",
    "tag": "section",
    "settings": [
        {
            "type":"text",
            "id":"headline",
            "label":"Your headline",
            "default":"HOW IT WORKS"
        }
    ]
}
{% endschema %}


<style>
    .wi_outer{
        padding-top: 64px;
        padding-bottom: 64px;
        background-image: url('https://cdn.shopify.com/s/files/1/0839/5941/5099/files/Group_324366_1.jpg?v=1701857302');
        background-size: 100%;
        background-position: top;
    }
    .wi_outer .main_heading{
        color: white;
    }
    .wi_grid{
        display: flex;
        gap: 32px;
    }
    .wi_grid > div{
        width: 100%;
        text-align: center;
    }
    .wi_grid img{
        width: 100%;
    }
    .wi_grid p{
        color: white;
        font-size: 18px;
        margin: 12px 0;
    }
    .wi_grid  h3{
        font-size: 22px;
        color: white;
        margin: 12px 0;
    }
</style>