html{
  overflow-x: hidden;
}
.\#header-primary-nav{
  display: none !important;
}
.\#header-main{
  padding: 5px 0;
}
@media only screen and (max-width: 767px) {
  .Desktop_only{
    display: none !important;
  }
}
@media only screen and (min-width: 767px) {
  .Mobile_only{
    display: none !important;
  }
}
/* Slideshow */
img{
  width: 100%;
}
.Slideshow_outer p{
  font-size: 18px;
}
.Slideshow_slide_outer{
  min-height: 500px;
  width: 100%;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-image: url('https://cdn.shopify.com/s/files/1/0839/5941/5099/files/Screenshot_2023-11-03_at_10.51_4.jpg?v=1701456643');
}
.Slideshow_slide_inner{
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  max-width: 1200px;
  margin: auto;
}
.Slideshow_slide_inner > div{
  width: 50%;
}
.Slideshow_outer h1, 
.Slideshow_outer p{
  color: white;
}
.Slideshow_outer h1{
  font-size: 48px;
  font-weight: bold;
}
.Slideshow_buttons{
  display: flex;
  gap: 1rem;
}
.Slideshow_primary_button{
  border-radius: 30px;
  padding: 10px 25px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  background: #5720B7;
  transition: all .2s; 
  display: block;
}
.Slideshow_primary_button:hover{
  transform: scale(0.95);
}
.Slideshow_secondary_button{
  border-radius: 30px;
  padding: 10px 25px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  background: #D9D6FE;
  transition: all .2s;
  display: block;
}
.Slideshow_secondary_button:hover{
  transform: scale(0.95);
}
.Slideshow_text{
  margin: 20px 0;
}
.Slideshow_image_box{
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}
.Slideshow_image_box img{
  position: absolute;
  top: 0;
}
@media only screen and (max-width: 767px) {
  .Slideshow_outer h1{
    font-size: 38px;
  }
  .shopify-section .\#section-body.\@spaced{
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .Slideshow_slide_inner{
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column-reverse;
  }
  .Slideshow_slide_inner > div{
    width: 100%;
  }
  .shopify-section .fs-d4{
    font-size: 26px;
  }
}
.Slideshow_outer .slick-dots{
  bottom: 30px;
  z-index: 2;
}
.Slideshow_reviews{
  width: 100%;
  max-width: 150px;
  margin-bottom: 20px;
}
.Slideshow_outer .slick-dots{
  display: inline-block;
  width: auto;
  padding: 0px 35px;
  border-radius: 20px;
  background: #D9D6FE;
  left: calc(100% - 53%);
}
.Slideshow_outer .slick-dots li{
  width: 35px;
}
.Slideshow_outer .slick-dots li button{
  width: 35px;
  height: 2px;
  border-radius: 5px;
  background: white;
}
.Slideshow_outer .slick-dots li.slick-active button{
  background: #5720B7;
}
.Slideshow_outer .slick-dots li button:before{
  display: none;
}
.Slideshow_slide_outer{
  padding-bottom: 100px;
}
@media only screen and (max-width: 767px) {
  .Slideshow_outer .slick-dots{
    display: inline-block;
    width: auto;
    padding: 0px 15px;
    border-radius: 20px;
    background: #D9D6FE;
    left: 41%;
  }
  .Slideshow_outer .slick-dots li{
    width: 25px;
  }
  .Slideshow_outer .slick-dots li button{
    width: 25px;
    height: 2px;
    border-radius: 5px;
    background: white;
  }
}
.Slideshow_outer{
  margin-bottom: 0 !important;
}
/* Featured logos */
.Featured_logos_outer_bg{
  padding: 15px;
  background: #7A5AF8;
}
.Featured_logos_outer{
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 10px;
  animation: slide 70s infinite linear;
}
.Featured_logos_outer > div{
  padding: 0 50px;
}
.Featured_logos_outer img{
  max-height: 30px;
  width: auto;
}
@keyframes slide {
  from {
    transform: translateX(250%);
  }
  to {
    transform: translateX(-250%);
  }
}
@media only screen and (max-width: 767px) {
  .Featured_logos_outer{
    animation: slide 80s infinite linear;
  }
  .Featured_logos_outer > div{
    padding: 0 30px;
  }
  @keyframes slide {
    from {
      transform: translateX(500%);
    }
    to {
      transform: translateX(-500%);
    }
  }
}

/* Featured collection */
.Collection_list_outer{
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
}
.Collection_list_outer .donut{
  position: absolute;
  right: 0;
  top: 30px;
  max-width: 120px;
  width: 100%;
}
.Collection_list_outer .\#section-body.\@spaced{
  margin-top: 0;
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  .Featured_logos_outer img{
    max-height: 20px;
  }
  .Collection_list_outer .donut{
    max-width: 50px;
  }
  .Collection_list_outer{
    padding-top: 6rem;
    padding-bottom: 4rem;
  }
}
/* Collection grids */
.Featured_collection_outer{
  padding: 5rem 0;
  background-position: 0;
  background-size: cover;
}
.Featured_collection_outer .\#section-body.\@spaced{
  margin: 0;
}

/* Multifeatures */
.Index_personalization_outer{
    margin: 5rem auto;
}
.Index_personalization_flex_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    margin-top: 24px;
}
.Index_personalization_flex_container > div{
    width: 100%;
}
@media only screen and (max-width: 767px) {
    .Index_personalization_outer{
      margin: 3rem auto;
    }
    .Featured_collection_outer{
      padding: 3rem 0;
      background-size: 300%;
      background-repeat: no-repeat;
    }
    .\#section-body-button{
      margin-bottom: 0;
    }
    .Index_personalization_flex_container{
        flex-wrap: wrap;
    }
    .Index_personalization_flex_container{
        gap: 2rem;
    }
}
.Index_personalization_feature.active{
    border-left: 4px solid #7A5AF8;
    opacity: 1;
}
.Index_personalization_feature{
    padding: 1.5rem 0;
    padding-left: 1rem;
    border-left: 4px solid #E7E7E7;
    cursor: pointer;
    transition: all .2s;
    opacity: 0.5;
}
.Index_personalization_image__js{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}
.Index_personalization_image__js img{
    position: absolute;
}
.Index_multifeature_cell_title{
  display: flex;
  gap: .5rem;
  align-items: center;
}
@media only screen and (min-width: 767px) {
    .Index_personalization_feature:hover{
        background: rgba(0, 0, 0, 0.03);
    }
}

/* Featured products */
.Whole_featured_products_section{
  margin: 5rem 0;
  padding: 6rem 0;
  background-position: center;
  background-size: cover;
  background-image: url('https://cdn.shopify.com/s/files/1/0839/5941/5099/files/Screenshot_2023-11-03_at_10.51_4.jpg?v=1701456643');
}
.Whole_featured_products_section .\#section-body.\@spaced{
  margin-top: 0;
  margin-bottom: 0;
}
.Whole_featured_products_section .\#product-price .\#price-item.\@save,
.Whole_featured_products_section .\#product-price-tax-note{
  display: none;
}
.Whole_featured_products_section h1,
.Whole_featured_products_section .\#product-price .\#price-item.\@on-sale,
.Whole_featured_products_section .\#price-item.\@compare .\#price-value{
  color: white;
}
.Whole_featured_products_section .form{
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
}
.Whole_featured_products_section product-dynamic-checkout{
  padding-top: 0;
}
.Whole_featured_products_section .\#product-meta{
  gap: 1.5rem;
}
.Whole_featured_products_section p{
  color: white;
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  .Whole_featured_products_section{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .Whole_featured_products_section .\#product-grid{
    gap: 0;
  }
  .Whole_featured_products_section .form{
    display: block;
  }
  .Whole_featured_products_section product-dynamic-checkout{
    padding-top: 1rem;
  }
  .Whole_featured_products_section .\#product-meta{
    gap: 1.5rem;
  }
  .Whole_featured_products_section .\#product-grid {
    display: flex !important;
    flex-direction: column-reverse;
  }
  .Whole_featured_products_section .\#product-grid > div:nth-child(1){
    /* margin-top: 0; */
  }
  .Whole_featured_products_section .\#product-grid > div:nth-child(2){
    /* margin-top: 1.5rem; */
  }
}
/* Qty selector */
.Whole_featured_products_section product-qty-selector{
  display: none;
}
.Whole_featured_products_section .\#product-qty-selector-label{
  color: white;
}
.Featured_product_quantity_selector{
  display: flex;
  width: 100%;
  max-width: 120px;
  border: 2px solid #D7D4FF;
  background: white;
  border-radius: 10px;
  height: 50px;
}
.Featured_product_quantity_selector > div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}
.Featured_product_quantity_selector svg, 
.Featured_product_quantity_selector{
  color: #5720B7;
  fill: #5720B7;
}
.Featured_product_quantity_selector .Qty_adjust_minus,
.Featured_product_quantity_selector .Qty_adjust_plus{
  cursor: pointer;
  transition: all .2s;
}
.Featured_product_quantity_selector .Qty_adjust_minus:hover,
.Featured_product_quantity_selector .Qty_adjust_plus:hover{
  background: rgba(0, 0, 0, 0.02);
}

/* Buttons */
.shopify-section .\@shadow.\@display-style\:normal.\#button, .\@shadow.\@display-style\:gradient.\#button,
.shopify-section .shopify-payment-button__button{
  font-size: 18px;
  padding: 16px 32px;
}
.shopify-section .\@shadow.\@display-style\:normal.\#button, .\@shadow.\@display-style\:gradient.\#button,
.shopify-section .\@display-style\:gradient.\#button:before{
  background: #5720B7 !important;
}
product-to-cart,
product-dynamic-checkout{
  display: block;
  width: 100%;
}

/* Footer */
.Footer_outer{
  padding: 5rem 0;
  background-position: center;
  background-size: cover;
  background-image: url('https://cdn.shopify.com/s/files/1/0839/5941/5099/files/Screenshot_2023-11-03_at_10.51_4.jpg?v=1701456643');
}
.Footer_outer .\#section-body,
.Footer_outer .\#footer{
  background: transparent;
  border-top: none;
}
.shopify-section .\#newsletter{
  justify-content: space-between;
  max-width: 1250px;
  padding-left: min(3rem, 5vw);
  padding-right: min(3rem, 5vw);
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
}
.shopify-section .\#newsletter-header p{
  font-size: 18px;
  margin-top: 1rem;
}
.shopify-section .\#newsletter-header{
  text-align: left;
}
.shopify-section .\#newsletter-input::placeholder{
  color: black;
}
.shopify-section .\#newsletter-submit{
  background: #5720B7;
}
.Nesletter_icons_left{
  position: absolute;
  left: -20px;
  top: 0;
  max-width: 80px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .Nesletter_icons_left{
    position: absolute;
    left: 0px;
    top: -50;
    max-width: 50px;
    width: 100%;
  }
  .Footer_outer{
    padding-top: 0;
    padding-bottom: 0;
  }
  .\#container{
    /* overflow-x: hidden; */
  }
}

/* Faq outer */
.Faq_outer{
  padding: 6rem 0;
  margin: 5rem 0;
}
.Faq_outer{
  background: #FEF0C7;
}
.Faq_outer .\#section-body.\@spaced{
  margin-top: 0;
  margin-bottom: 0;
}
.Index_reviews_cell{
  width: 100%;
  border: 2px solid #000000;
  border-radius: 20px;
  background-image: url('https://cdn.shopify.com/s/files/1/0839/5941/5099/files/Screenshot_2023-11-03_at_10.51_4.jpg?v=1701456643');
  background-position: center;
  background-size: cover;
  margin: 0 50px;
  overflow: hidden;
}
.Index_review_cell_inner{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Index_review_cell_inner > div:nth-child(1){
  width: 100%;
  padding: 10px 50px;
}
.Index_review_cell_inner > div:nth-child(2){
  width: 80%;
}
.Index_reviews_stars{
  max-width: 200px;
  width: 100%;
}
.Index_reviews_cell_headline{
  color: white;
  margin: 1.5rem 0;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.4em;
}
.Index_reviews_name{
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin: .5rem 0;
}
.Index_reviews_info{
  color: white;
  font-weight: 400;
  font-size: 18px;
  margin: .5rem 0;
}
.Index_review_cell_inner video{
  width: 100%;
  display: block;
  margin-bottom: -10px;
}
.Index_reviews_carousel{
  padding-bottom: 5rem;
  padding-top: 3rem;
}
@media only screen and (max-width: 1400px) {
  .Faq_outer{
    margin: 3rem 0;
  }
  .Index_reviews_cell_headline{
    font-size: 26px;
  }
  .Index_reviews_stars{
    max-width: 150px;
  }
  .Index_reviews_cell{
    margin: 0 20px;
  }
}
.Index_reviews_trust_image{
  max-width: 350px;
  width: 100%;
  display: block;
  margin-top: 1rem;
}
.Index_reviews_carousel_heading{
  padding-top: 3rem;
}
@media only screen and (max-width: 767px) {
  .Index_reviews_cell{
    margin: 0 10px;
  }
  .Index_reviews_cell_headline{
    font-size: 22px;
  }
  .Index_review_cell_inner{
    flex-wrap: wrap;
  }
  .Index_review_cell_inner>div:nth-child(1){
    padding: 20px;
  }
  .Index_review_cell_inner>div:nth-child(2){
    width: 100%;
  }
  .Index_reviews_stars{
    max-width: 100px;
  }
  .Index_reviews_trust_image{
    max-width: 250px;
    width: 100%;
  }
  .shopify-section .\#product-card-express-button{
    /* display: none; */
  }
}

.Index_reviews_carousel .slick-dots{
  bottom: 0px;
  z-index: 2;
}
/* .Index_reviews_carousel .slick-dots{
  display: inline-block;
  width: auto;
  padding: 0px 35px;
  border-radius: 20px;
  left: calc(100% - 53%);
} */
.Index_reviews_carousel .slick-dots li{
  width: 35px;
}
.Index_reviews_carousel .slick-dots li button{
  width: 35px;
  height: 2px;
  border-radius: 5px;
  background: #EAECF0;
}
.Index_reviews_carousel .slick-dots li.slick-active button{
  background: #5720B7;
}
.Index_reviews_carousel .slick-dots li button:before{
  display: none;
}

/* Product card */
.shopify-section .\#product-card.\@image-padding .\#product-card-media{
  margin: 0;
}
.shopify-section .\#product-card-badges{
  padding: .5rem;
}
.shopify-section .\#product-card-badges .\#product-card-badge.\@type\:sale{
  padding: .5rem;
  background: #5720B7;
  font-size: 16px;
  font-weight: 400;
}
.shopify-section .\#product-card .\@display-style\:normal.\#button{
  /* background: #D9D6FE !important;
  color: #5720B7;
  box-shadow: none; */
  background: var(--bg-color) !important;
  padding: 8px 12px;
}
.shopify-section .\#product-card  .\#product-card-caption.\@offset-top{
  text-align: left;
}
.\#product-card.\@align\:center .\#product-card-price, .\#product-card.\@align\:center .\#product-card-rating{
  margin-left: 0 !important;
}
.shopify-section .\#product-card-price .\#price-item.\@on-sale{
  color: black;
}
.shopify-section .\#product-card-title{
  font-weight: bold;
}
.shopify-section .\#product-card-rating-stars{
  color: #5720B7;
}
.Product_card_outer{
  position: relative;
  overflow: initial !important;
}
.New_badge{
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 9;
}
.New_badge img{
  width: 100%;
  max-width: 50px;
}
.Whole_featured_products_section .\#slideshow-thumbnails.\@layout-type\:slideshow .\#slideshow-thumbnails-inner{
  display:none;
}
.Whole_featured_products_section product-dynamic-checkout .wallet-button-fade-in{
  display: none;
}
.Featured_product_learn_more_button{
  font-size: 18px;
  color: #5925DC;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 30px;
  text-decoration: none;
  min-width: 200px;
  background: #D9D6FE;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
}
.Featured_product_learn_more_button:hover{
  transform: scale(0.97);
}
product-to-cart, product-dynamic-checkout{
  min-width: 200px;
  display: block;
  transition: all .2s;
}
product-to-cart:hover{
  transform: scale(0.97);
}
@media only screen and (max-width: 767px) {
  .Featured_product_learn_more_button{
    margin-top: 10px;
  }
}


/* text with image */
.Product_text_image{
  padding: 5rem 0;
  background-position: center;
  background-size: cover;
  background-image: url('https://cdn.shopify.com/s/files/1/0839/5941/5099/files/Screenshot_2023-11-03_at_10.51_4.jpg?v=1701456643');
}
.Product_text_image_flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.Product_text_image_flex > div{
    width: 100%;
}
.Product_text_image_flex h2{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 1rem 0;
    line-height: 1.3em;
}
.Product_text_image_flex p{
    color: white;
    font-size: 18px;
    line-height: 1.3em;
    margin: 1rem 0;
}
.Product_text_image_flex a{
    display: inline-block;
    padding: 16px 38px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background: #5720B7;
    border-radius: 30px;
    text-decoration: none;
    margin-top: 1rem;
    transition: all .2s;
}
.Product_text_image_flex a:hover{
    transform: scale(0.97);
}
@media only screen and (max-width: 767px) {
    .Product_text_image_flex{
        flex-wrap: wrap;
        gap: 2rem;
    }
    .Product_text_image_flex h2{
        font-size: 32px;
    }
    .Product_text_image{
        padding: 3rem 0;
    }
}
 
/* Collection card */
.shopify-section .\#collection-card-image{
  /* padding: 5px 0; */
}
.Collection_card_label{
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  background: #5720B7;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom:10px;
}
.shopify-section .\#collection-card.\@inner-caption{
  padding: 20px;
  background-image: url('https://cdn.shopify.com/s/files/1/0839/5941/5099/files/Screenshot_2023-11-03_at_10.51_4.jpg?v=1701456643');
  background-position: center;
  background-size: cover;
}
.shopify-section .\#collection-card-image{
  background: transparent;
}
.Collection_Card_image_outer{
  position: relative;
  padding-top: 100%;
  overflow: hidden;
}
.Collection_Card_image_outer img{
  position: absolute;
  top: 0;
}

/* Featured products section headline */
.Top_line_headline{
  text-align: center;
  margin-bottom: 5rem;
  color: white;
}
@media only screen and (max-width: 767px) {
  .Top_line_headline{
    margin-bottom: 40px;
  }
}

/* Navigation */
.shopify-section .\#main-navigation-product-card-media{
  width: 120px;
  height: 120px;
}
.shopify-section .\#main-navigation-product-card-title{
  font-size: 14px;
  font-weight: bold;
  opacity: 1;
}
.shopify-section .\#predictive-search-results-item-title{
  font-size: 14px;
  font-weight: bold;
  opacity: 1;
}

.Hero_background_video{
  padding: 5rem 0;
  margin-top: 0rem;
  background: #FEF0C7;
}
.Hero_background_video .\#section-body.\@spaced{
  margin-top: 0;
  margin-bottom: 0;
}
.Richtext_outer{
  padding: 5rem 0;
}
.Richtext_outer .\#section-body.\@spaced{
  margin-top: 0;
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  .Hero_background_video{
    margin-top: -3rem;
    margin-top: -3rem;
    padding: 3rem 0;
  }
  .Richtext_outer{
    padding: 3rem 0;
  }
  .Hero_background_video .\#floating-content-wrapper.\@mobile-position\:offset .\#floating-content{
    display: none;
  }
}


/* Reviews section */
.Customer_says_reviews_outer{
  margin-top: 3rem;
  padding: 1rem;
}
.Customer_says_reviews_outer .Customer_says_reviews_cell{
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  margin-left: 5px;
}
.Customer_says_reviews_cell_note .Customer_says_name{
  font-weight: bold;
  margin:  0;
  font-size: 18px;
}
.Customer_says_reviews_cell_note .Customer_says_info{
  font-weight: 200;
  margin:  0;
  font-size: 16px; 
}
.Customer_says_reviews_cell_note{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.Customer_says_reviews_cell_note > div:nth-child(1){
  width: 30%;
}
.Customer_says_reviews_cell_note > div:nth-child(2){
  width: 100%;
}
.Customer_reviews_stars{
  width: 100%;
  max-width: 120px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.Customer_says_review_content p{
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}
.Customer_says_reviews_outer{
  padding-bottom: 70px;
}
@media only screen and (max-width: 767px) {
  .Customer_says_outer_cells{
    padding: 0;
    margin-top: 0;
  }
  .shopify-section .Customer_says_reviews_outer{
    margin-top: 0;
  }
}



.Customer_says_reviews_outer .slick-dots{
  display: inline-block;
  width: auto;
  padding: 0px 35px;
  border-radius: 20px;
  background: #D9D6FE;
  left: calc(100% - 53%);
  bottom: 0;
}
.Customer_says_reviews_outer .slick-dots li{
  width: 35px;
}
.Customer_says_reviews_outer .slick-dots li button{
  width: 35px;
  height: 2px;
  border-radius: 5px;
  background: white;
}
.Customer_says_reviews_outer .slick-dots li.slick-active button{
  background: #5720B7;
}
.Customer_says_reviews_outer .slick-dots li button:before{
  display: none;
}
.Customer_says_reviews_outer{
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
}
.Customer_says_outer{
  padding-top: 5rem;
}
@media only screen and (max-width: 767px) {
  .Customer_says_reviews_outer .slick-dots{
    display: inline-block;
    width: auto;
    padding: 0px 15px;
    border-radius: 20px;
    background: #D9D6FE;
    left: 28%;
  }
  .Customer_says_outer{
    padding-top: 3rem;
  }
  .Customer_says_reviews_outer .slick-dots li{
    width: 25px;
  }
  .Customer_says_reviews_outer .slick-dots li button{
    width: 25px;
    height: 2px;
    border-radius: 5px;
    background: white;
  }
  .shopify-section .\#newsletter form{
    width: 100%;
  }
  .shopify-section .\#newsletter-input {
    width: 100%;
  }
}

.Customer_says_reviews_button_outer{
  text-align: right;
}
.Customer_says_reviews_button_outer a:hover{
  transform: scale(0.97);
}
.Customer_says_reviews_button_outer a{
  padding: 12px 32px;
  color: #5925DC;
  background: #D9D6FE;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: all .2s;
}
@media only screen and (max-width: 767px) {
  .Customer_says_reviews_button_outer{
    text-align: center;
  }
}