/* Slideshow */
img{
  width: 100%;
}
.Slideshow_slide_outer{
  min-height: 500px;
  width: 100%;
  padding: 20px;
  background: linear-gradient(90deg, rgba(190,91,255,1) 0%, rgba(76,192,255,1) 65%);
}
.Slideshow_slide_inner{
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  max-width: 1200px;
  margin: auto;
}
.Slideshow_slide_inner > div{
  width: 50%;
}
.Slideshow_outer h1, 
.Slideshow_outer p{
  color: white;
}
.Slideshow_outer h1{
  font-size: 48px;
  font-weight: bold;
}
.Slideshow_buttons{
  display: flex;
  gap: 1rem;
}
.Slideshow_primary_button{
  border-radius: 30px;
  padding: 10px 25px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  background: purple;
  transition: all .2s; 
  display: block;
}
.Slideshow_primary_button:hover{
  transform: scale(0.95);
}
.Slideshow_secondary_button{
  border-radius: 30px;
  padding: 10px 25px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  background: purple;
  transition: all .2s;
  display: block;
}
.Slideshow_secondary_button:hover{
  transform: scale(0.95);
}
.Slideshow_text{
  margin: 20px 0;
}
.Slideshow_image_box{
  background: white;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}
.Slideshow_image_box img{
  position: absolute;
  top: 0;
}
@media only screen and (max-width: 767px) {
  .Slideshow_slide_inner{
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column-reverse;
  }
  .Slideshow_slide_inner > div{
    width: 100%;
  }
}
.Slideshow_outer .slick-dots{
  bottom: 30px;
  z-index: 2;
}